language: r
pandoc_version: 1.17.2
dist: trusty
cache: packages

branches:
  only:
    - master

addons:
  apt:
    packages:
    - fonts-ipaexfont
    - texlive-luatex

before_script:
  - tlmgr install luatexja
script:
  - lualatex --version
